
/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: 
            font-family: 'Nunito', sans-serif;
            font-family: 'Libre Baskerville', serif;
            font-family: 'Rubik', sans-serif;
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White:               #fff
        Black:               #000   
============================================ */

/************************************************************************
                                GENERAL
************************************************************************/

html, body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway',sans-serif;
}
p{
    font-family: 'Montserrat';
}
a,
a:hover,
a:focus{
    text-decoration: none!important;
}
section{
    background: #fff;
}

.max-width{
    max-width: 100%!important;
}
.pos-top-250{
    top: 250px;
}
.p-l-310{
    padding-left: 310px!important;
}
.p-r-310{
    padding-right: 310px!important;
}
.p-t-60{
    padding-top: 60px!important;
}
.m-r-100{
    margin-right: 80px!important;
}
.m-l-180{
    margin-left: 180px!important;
}
/************************************************************************
                            OWL SLIDER BUTTONS
************************************************************************/

.owl-theme .owl-nav{
    position: absolute;
    display: block!important;
    width: 200px;
    top: -200px;
    right: 10px;
}
.owl-theme .owl-nav .owl-prev{
    background: #333;
}
.owl-theme .owl-nav .owl-next{
    background: #FFA600;
}

.owl-theme .owl-nav [class*=owl-]{
    color: #EBF1FF;
    font-size: 10px;
    width: 35px;
    height: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 0.6;
    border-radius: 100px;
    padding-top: 13px;

    margin: 3px;
}
.owl-theme .owl-nav  .owl-prev:hover{
    background: #FFA600;
    color: #333;
}
.owl-theme .owl-nav  .owl-next:hover{
    background: #333;
    color: #FFA600;
}
#testimonials .owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #fff;
}


.view-more-link{
    color: #A7A7A7;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
}
.small-title{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.big-title{
    font-size: 35px;
/*    text-transform: capitalize;*/
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.color-back-main-yellow{
    background-color: #FFA600!important;
}

.btn-yellow{
    background-color: #FFA600;
    color: #fff;
}
.btn-yellow:hover{
    border: solid 2px #FFA600;
    background-color: #fff;
    color: #FFA600;
    transition: all 0.3s;
}
.btn-rounded{
     border-radius: 30px;
}
.btn-rounded-corners{
     border-radius: 3px;
}

.btn-main:hover{
    background-color: #000!important;
    color: #FFF;
    cursor: pointer;
}

.btn-general{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 10px 40px;
    transition: all .5s;
    font-weight: 700;
}
.btn-shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.italic-style{
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif!important;
    font-size: 35px;
    font-weight: 400;
}

.rounded-corners{
    border-radius: 8px!important;
}


/************General section : author- riddhesh **************/
html{
    font-size: 16px;
}

ul{
    display: inline-block;
    padding: 0;
}

li{
    list-style: none;
    display: inline-block;
    font-weight: 600;
}
.navbar-info__contents:hover{
    a{
       color: #FFA600;+ 
    }
    
}
.bg-yellow{
    background-color: #FFA600;
}

.bg-transperant{
    background: transperant!important;
}

.color-yellow{
    color: #FFA600;
}

/******Buttons*******/

.btn-common{
    font-family: 'Nunito', sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    padding: 16px 28px;
    font-weight: 700;
    display: inline-block;
}

.btn-general{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 10px 30px;
    transition: all .5s;
    font-weight: 700;
    display: inline-block;
}

.btn-rounded{
    border-radius: 30px!important;
}


/************************************************************************
                            LINE ICON SETTING
************************************************************************/
[class*='lni-']{
    display: inline-block;
}

/* 
    NOTE: '*' - contains
          '^' - starts with
*/

/************************************************************************
                            HELPER CLASSES
************************************************************************/

.m-0{
    margin: 0px!important;
}
.m-10{
    margin: 10px!important;
}
.m-30{
    margin: 30px!important;
}
.m-50{
    margin: 50px!important;
}
.m-70{
    margin: 70px!important;
}
.m-90{
    margin: 90px!important;
}
.m-100{
    margin: 100px!important;
}
.m-120{
    margin: 120px!important;
}

.m-r-0{
    margin-right: -10px!important;
}

.m-t-0{
    margin-top: 0px!important;
}
.m-t-10{
    margin-top: 10px!important;
}
.m-t-15{
    margin-top: 15px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-t-25{
    margin-top: 25px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
.m-t-40{
    margin-top: 40px!important;
}
.m-t-50{
    margin-top: 50px!important;
}
.m-t-55{
    margin-top: 55px;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-90{
    margin-top: 90px!important;
}
.m-t-100{
    margin-top: 100px!important;
}
.m-t-120{
    margin-top: 120px!important;
}

.m-b-0{
    margin-bottom: 0px!important;
}
.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-25{
    margin-bottom: 25px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-70{
    margin-bottom: 70px!important;
}
.m-b-90{
    margin-bottom: 90px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-120{
    margin-bottom: 120px!important;
}

.m-l-25{
    margin-left: 25px!important;
}
.m-l-10{
    margin-left: 10px!important;
}
.m-l-14{
    margin-left: 14px!important;
}

.m-l-30{
    margin-left: 30px!important;
}
.m-l-35{
    margin-left: 35px!important;
}
.m-l-40{
    margin-left: 40px!important;
}
.m-l-45{
    margin-left: 45px!important;
}
.m-l-100{
    margin-left: 100px!important;
}
.m-l-115{
    margin-left: 115px!important;
}

.m-auto{
    margin: 0 auto!important;
}

.p-0{
    padding: 0px!important;
}
.p-7{
    padding: 7px!important;
}
.p-15{
    padding: 15px!important;
}
.p-20{
    padding: 20px!important;
}
.p-25{
    padding: 25px!important;
}
.p-t-0{
    padding-top: 0px!important;
}
.p-t-10{
    padding-top: 10px!important;
}
.p-t-20{
    padding-top: 20px!important;
}
.p-t-25{
    padding-top: 25px!important;
}
.p-t-30{
    padding-top: 30px!important;
}
.p-t-40{
    padding-top: 40px!important;
}
.p-t-45{
    padding-top: 45px!important;
}
.p-t-80{
    padding-top: 80px!important;
}
.p-t-100{
    padding-top: 100px!important;
}
.p-t-320{
    padding-top: 320px!important;
}

.p-b-0{
    padding-bottom: 0px!important;
}
.p-b-10{
    padding-bottom: 10px!important;
}
.p-b-25{
    padding-bottom: 25px!important;
}

.p-b-30{
    padding-bottom: 30px!important;
}
.p-b-80{
    padding-bottom: 80px!important;
}
.p-b-100{
    padding-bottom: 100px!important;
}
.p-b-200{
    padding-bottom: 200px!important;
}
.p-r-0{
    padding-right: 0px!important;
}
.p-r-12{
    padding-right: 12px!important;
}
.p-r-15{
    padding-right: 15px!important;
}
.p-r-10{
    padding-right: 10px!important;
}
.p-l-0{
    padding-left: 0px!important;
}
.p-l-12{
    padding-left: 12px!important;
}
.p-l-15{
    padding-left: 15px!important;
}
.p-l-7{
    padding-left: 7px!important;
}
.p-l-10{
    padding-left: 10px!important;
}
.p-l-25{
    padding-left: 25px!important;
}
.p-l-100{
    padding-left: 100px!important;
}

.border-white{
     border: 1px solid #fff;
}
.border-black{
     border: 1px solid #212226;
}
.color-white{
    color: #fff;
}
.color-black{
    color: #212226;
}
.color-yellow{
    color: #FFA600;
}

.top-80{
    top: 80px!important;
}

/***************************************************
                NAV-BAR SECTION
***************************************************/
.z-index-99{
    z-index: 99;
}
.z-index-100{
    z-index: 100;
}
.info-header{
    color: #FFF;
    height: 40px;
    line-height: 40px;
}
.do-blur{
/*
    background: rgba(0,0,0,0.6);
    filter: blur(8px);
*/
}


.info-header__contents__icons{
    cursor: pointer;
    padding: 0 5px;
}
.nav-social-hover li:hover{
    color: #000000;
}
.header-info{ 
    font-family: 'serif';
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
}

.navbar-info__contents{
    padding: 0 5px;
}
.navbar-info__contents a{
    color: #fff;
}
.navbar-info__contents a:hover{
    color: #FFA600;
}

.img-background{
    max-width: 100%;
/*    height: 100%;*/
    z-index: -1;    
}

.navbar-section__top{
/*    position: relative;*/
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    color: #FFF;
    padding: 40px 0;
    font-size: .75rem;
}
.nav-btn{
    font-family: 'Nunito';
    font-size: 10px;
}
.nav-btn:hover{
     background-color: #fff;
    color: #FFA600;
    transition: all 0.7s;
}
/*--------------menu----------------*/
.menu-box{
    display: none;
    width: 250px;
    height: 300px;
    background-color: #FFF;
    position:absolute;
    top:180px;
    right:205px;
    z-index: 100;
}
/*------------------------------*/

.navbar-info .navbar-info__contents .menu-hover:hover .menu-box{
    display: none;
    background-color: red;
    color: red;
}

.line{
    background-color: #ccc;
    height: 0.7px;
/*    opacity: 0.5;*/
}

.site-title{
    font-size: 1.3rem;
    margin-bottom: 0;
}

.site-subtitle{
    color: #FFA600;
    font-size: .85rem;
}

.container-content{
    margin-top: 100px;
}

.container-content__title{
    font-family: 'Rubik', serif;
    font-size: 53px;
    width: 900px;
    font-weight: bolder;
}

.container-content__subtitle{
    font-size: 30px;
    font-family: 'Rubik', serif;
/*    font-family: 'Nunito', sans-serif;*/
/*    font-family: 'Libre Baskerville', serif;*/
    font-weight: 700;
}

.short-line{
    width: 45px;
    background-color: #FFA600;
    margin-right: 10px;
    height: 1.3px;
}

.long-line{
    text-align: left;
    width: 50px;
    background-color: #FFF;
    margin-right: 10px;
    margin-left: 0;
}

.information{
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navbar-primary{
    width: 100%;
}


/***************************************************
                ABOUT SECTION
***************************************************/

.about-content{
    color: #A7A7A7;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
}
.about-content span{
    font-family: 'Libre Baskerville', serif;
}
.about-us__leaf-img{
    width: 100px!important;
    height: 150px!important;
    background-image: url(../img/leaf3.png);
    background-repeat: no-repeat;
/*    background-size: cover;*/
    background-position: center;
}

.about-image-outer{
    height: 320px;
    width: 408px;
/*    background-color: #333;*/
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.40);
}
.about-image-inner{
    width: 388.75px;
    height: 300px;
    background-color: #fff;
}

.about-image-inner img{
    width: 388.75px;
    height: 300px;
}

/***************************************************
                UPCOMING-EVENTS SECTION
***************************************************/

.back-color-med-blue{
    background-color: #0086FF; 
}
.back-color-yellow{
    background-color: #FFA600; 
}
/*
.color-yellow{
    background-color: #FFA600; 
}
*/
.color-med-blue{
    color: #0086FF; 
}
.back-color-red{
    background-color: #ff4949;
}
.color-red{
    color: #ff4949;
}
.back-color-purple{
    background-color: #564BFF;
}
.color-purple{
    color: #564BFF;
}



#upcoming-events{
    background-color: #EBF1FF;
}
.card{
/*    background-color: #333;*/
    width: 450px!important;
}
.card-left{
    color: #fff;
    text-align: center;
}
.month{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Nunito';
}
.date{
    font-size: 20px;
    font-family: 'Nunito';
}
.year{
    font-size: 37px;
    font-family: 'Nunito';
    font-weight: 600;
}
.card-title{
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 600;
}
.card-content{
    font-family: 'Nunito';
    color: #A7A7A7;
    font-size: 12px;
}



/***************************************************
                TESTIMONIAL SECTION
***************************************************/

#testimonial{
    background-color: #091018;
    color: #fff;
    text-align: center;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.testimonial-inner{
    width: 600px;
    margin-left: 259px;
}
#testimonial-slider{
    overflow: hidden;
    width: 600px;
    margin-left: 259px;
}
.testimonial-title{
    letter-spacing: 2px;
}
.testimonial-content{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.testimonial-name{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
/*    font-family: 'Libre Baskerville', serif;*/
font-family: 'Rubik', sans-serif;
    
}
.testimonial-desig{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FFA600;
    border: none;
    box-shadow: 0 0 7px #FFA600;
}
.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: solid 1px #fff;
}


/***************************************************
                BLOG-NEWS SECTION
***************************************************/

#blog-news{
    background-color: #EBF1FF;
}
.blog-card-img-1{
    width: 100%;
    height: 200px;
    background-image: url(../img/coding.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-card-img-2{
    width: 100%;
    height: 200px;
    background-image: url(../img/soft.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-card-img-3{
    width: 100%;
    height: 200px;
    background-image: url(../img/download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-card-content{
    width: 100%;
    height: 250px;
    background: #fff;
}
.blog-date{
    font-size: 10px;    
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.blog-card-shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)!important;
}
.blog-card-title{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}
.blog-card-info{
    color: #A7A7A7;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
}
.blog-username{
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    padding-top: 8px;
}
.row{
    grid-gap: 2px!important;
}

.bg-black{
    background-color: black;
}
.bg-white{
    background-color: white;
}



/***************************************************************************************
                                    Seperator
***************************************************************************************/

.seperator-contents{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seperator-contents__left{
    color: #FFF;
}

.seperator-image{
    max-width: 100%;
    overflow: hidden;
}

/***************************************************************************************
                                    Footer
***************************************************************************************/

.footer{
    padding: 50px 0;
    background-color: #101010;
    color: #FFF;
    text-align: center;
}

.footer-logos{
    margin-top: 20px;
}
.footer-last-line{
    font-size: 13px;
    font-weight: 400;
     font-family: 'Nunito', sans-serif; 
}


/***************************************************************************************
                                    FEATURED COURSES SECTION
***************************************************************************************/


#featured-courses{
    background-color: #EBF1FF;
}
.course-card-img-1{
    width: 100%;
    height: 200px;
    background-image: url(../img/coding.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.course-card-title{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.color-star-yellow{
    color: #f2bf52;
}
.color-v-light-gray{
    color: #ccc;
}
.dark-gray{
    color: #A7A7A7;
}
.set-icon-s{
  font-size: 13px; 
}
.set-icon-w{
    font-weight: 100;
    font-size: 13px;
}
.course-line1{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.course-line2{
    font-size: 10px;
/*    font-weight: bold;*/
    text-align: center;
    color: #A7A7A7;
    font-family: 'Nunito', sans-serif;
}
.border-l-gray{
    border-left: solid 1px #E7E7E7!important;
}

/***************************************************************************************
                                    TOURE SECTION
***************************************************************************************/


#toure{
    background: #091018;
    position: relative;
    width: 100%;
    height: 650px;
    
}

.toure-logo{
    width: 200px;
    height: 80px;
    background-image: url(../img/leaf4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.toure-img{
    background-color: #ccc;
    box-shadow: 0 0 5px #8CEEDD;
    height: 400px!important;
    width: 900px!important;
    position: relative;
    top: 70px;
    z-index: 10;
    overflow: hidden;
}
.toure-img img{
    height: 500px!important;
    width: 900px!important;
}
.tour-img-overlay{
    position: absolute;
    height: 400px!important;
    width: 900px!important;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}


/****************TEACHER SECTION***********************/


#our-teachers{
    position: relative;
}
.teacher-card-img-1{
    width: 100%;
    height: 200px;
    background-image: url(../img/teacher1.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.teacher-card-img-2{
    width: 100%;
    height: 200px;
    background-image: url(../img/teacher2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.teacher-card-img-3{
    width: 100%;
    height: 200px;
    background-image: url(../img/teacher3.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.teacher-card-info{
    color: #A7A7A7;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.teacher-card-content{
    background: #fff;
}
#teachers-slider{
    height: 400px!important;
    width: 900px!important;
    position: absolute!important;
    top: 510px!important;
    left: 280px!important;
}



.teacher-blue-section{
    background: #091018;
    width: 100%;
    height: 350px;
}
.social-item{
    display: inline-block;
    margin: 0 5px!important;
    color: #000;
    cursor: pointer;
}
.social-item:hover{
    color: #FFA600;
}

/***********************************************
            courses.html
***********************************************/

.view-more p span{
    color: #FFA600;
    font-size: 30px;
    font-weight: 600;
    line-height: 2.2;
}
.view-more p a{
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

.view-more p a:hover{
    color:#FFA600;
}

/***********************************************
            about-us.html
***********************************************/
.about-us-page-fourimg{
    width: 100%;
    position: absolute;
    top: 420px;
    left: 0;
    background-color: #fff;
}
.pic-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.four-pic{
    width: 100%;
    height: 370px;
}
.standing-line{
    font-size: 25px;
    text-align: center;
    color: #FFF;
}

/***********************************************
            blog_news.html
***********************************************/
.blog-back-img{
    width: 100%;
    height: 400px;
}



.blog-detail-img{
   width: 650px;
    height: 500px;
}

/***********************************************
            blog-details.html
***********************************************/
.p-l-15{
    padding-left: 15px;
}
.p-t-30{
    padding-top: 30px!important;
}
.p-r-10{
    padding-right: 10px!important;
}
.p-15{
    padding: 15px!important;
}
.p-45{
    padding: 45px!important;
}
.p-l-60{
    padding-left: 60px!important;
}

.m-l-10{
    margin-left: 10px!important;
}
.m-l-204{
    margin-left: 204px!important;
}
.m-l-0{
    margin-left: 0!important;
}

.font-weight-400{
    font-weight: 600;
}
.icon-font{
    font-size: 16px!important;
}
.bd-img-details{
    font-size: 12px;
    font-family: 'Nunito', sans-serif!important; 
/*    font-family: 'Libre Baskerville', serif!important;*/
    
/*            font-family: 'Rubik', sans-serif!important;*/
}
.bold-para{
    font-weight: bold;
    font-size: 13px;
/*    font-family: 'Nunito', sans-serif!important;*/
    font-family: 'Rubik', sans-serif!important;
    line-height: 1.8;
}
.light-para{
    font-family: 'Rubik', sans-serif!important;
    font-size: 13px;
    text-align: justify;
    color: #b8b8b8;
    line-height: 1.8;
}
.back-gray{
    background-color: #E7E7E7;
}
.capsule-tag{
    color: #525252;
    font-family: 'Rubik', sans-serif!important;
    font-size: 13px;
    font-weight: 700;
    padding-top: 5px;
}
.capsule{
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    color: #525252;
    font-size: 12px;
    height: 30px;
    padding-top: 5px;
}
.capsule p{
    font-family: 'Rubik', sans-serif!important;
    margin: 0px;
    font-weight: 500;
}
.bd-social{
    color: #333;
}
.bd-social-hover li:hover{
    color: #FFA600;
}
.gray-seperator{
    width: 100%;
    height: 0.7px;
    opacity: 0.4;
    background-color: #d1d1d1;
}
.bd-username{
    font-size: 14px;
    color: #333;
    font-weight: 700;
    font-family: 'Rubik', sans-serif!important;
    
}
.medium-dark-para{
    color: #939393;
    font-family: 'Rubik', sans-serif!important;
    font-size: 13px;
    text-align: justify;
    line-height: 1.8;
}
.comments-title{
    font-size: 22px;
    font-family: 'Rubik', sans-serif!important;
    color: #333;
    font-weight: 100;   
}
.comments-count{
    font-size: 22px;
    font-family: 'Nunito', sans-serif!important;
/*    font-family: 'Rubik', sans-serif!important;*/
    color: #5c5c5c;
    font-weight: 100
}
.color-dark-gray{
    color: #939393;
}
.author-bottom{
    font-size: 10px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif!important;
}
.reply-arrow{
    font-size: 10px;
    font-weight: bold;
    color: #000;
}
.leave-comment-title{
    font-size: 20px;
    font-weight: 100;
    color: #333;
    font-family: 'Nunito', sans-serif!important;
}
.bd-input-box{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.09375rem solid #FFA600;
    border-radius: 0;
}
.bd-input-msg-box{
    border-top: 0.09375rem solid #FFA600;
    border-left: 0.09375rem solid #FFA600;
    border-right: 0.09375rem solid #FFA600;
    border-bottom: 0.09375rem solid #FFA600;
}
.post-btn-hover{
    color: #fff;
}






























